{% extends "layout.html.j2" %}
{% block head %}
    <title>ToDo - Index</title>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md">
            <p>Utilisateurs<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
        </div>
    </div>
{% endblock %}