<html>

<head>
<title>Index page</title>
</head>

<body>
  <h1> This is the page A</h1>
  
  <div>
    Lecture 6 - WTForm, Flask_login, and DataBase <br>
    <a href="{{ url_for('main') }}">Home</a>
    {% if current_user.is_anonymous %} <!-- is going to be True only when the user is not logged in. -->
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('drop_message') }}">Drop us a message</a>
    {% endif %}
  </div>
  
</body>

</html>
