.img-mermory-1 {
    max-width: calc(100% / 1);
}
.img-mermory-2 {
    max-width: calc(100% / 2);
}
.img-mermory-3 {
    max-width: calc(100% / 3);
}
.img-mermory-4 {
    max-width: calc(100% / 4);
}
.img-mermory-5 {
    max-width: calc(100% / 5);
}
.img-mermory-6 {
    max-width: calc(100% / 6);
}
.img-mermory-7 {
    max-width: calc(100% / 7);
}
.img-mermory-8 {
    max-width: calc(100% / 8);
}
.img-mermory-9 {
    max-width: calc(100% / 9);
}
.img-mermory-10 {
    max-width: calc(100% / 10);
}
.img-mermory-11 {
    max-width: calc(100% / 11);
}
.img-mermory-12 {
    max-width: calc(100% / 12);
}
.img-mermory-13 {
    max-width: calc(100% / 13);
}
.img-mermory-14 {
    max-width: calc(100% / 14);
}
.img-mermory-15 {
    max-width: calc(100% / 15);

}
