{% from "todo/macro/task-form.html.j2" import task_form with context %}
{% from "macro/form-error.html.j2" import form_error with context %}
{% extends "layout.html.j2" %}
{% block head %}
    <title>ToDo - Ajouter</title>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md">
            <p>Ajouter une nouvelle tâche</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <form method="POST" action="/add" novalidate class="mb-4">
                {{ form.csrf_token }}
                {{ task_form(form) }}
            </form>
            {{ form_error(form) }}
        </div>
    </div>
{% endblock %}