{% extends "layout.html.j2" %}
{% block head %}
    <title>ToDo - 404</title>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md text-center">
            <h1 class="h1">Impossible de trouver la ressource attendue</h1>
        </div>
    </div>
{% endblock %}